<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,minimal-ui:ios">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./style.css">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <div v-if="list.length">
      <table id="customers">
        <thead>
          <tr>
            <th></th>
            <th>书籍名称</th>
            <th>价格</th>
            <th>购买数量</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item,index) in list">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.price | showPrice}}</td>
            <td>
              <button @click="unadd(index)" :disabled="item.count <=1">-</button>
              {{item.count}}
              <button @click="add(index)">+</button>
            </td>
            <td><button @click="reMove(index)">移除</button></td>
          </tr>
        </tbody>
      </table>
      <h2>总价格:{{sumPrice}}</h2>
    </div>
    <h2 v-else>购物车为空</h2>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="./main.js"></script>
</body>

</html>